.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 90%;
    padding: 10px;
    margin-right: 10px;
    background-color: #60a6fb;
    border-radius: 5px;
    overflow: auto;
  }